@keyframes animeitions{
    from{ transform: translateY(0px); }
    to { transform: translateY(-5px); color: #F1EBE1;}
}


/*




    *****************************************************************
    UTILIZZARE SUI FONT DI TESTO NORMALE IL FONT FACE GOLDPLAY LIGHT
    *****************************************************************





*/
/* TUTTI I FONT */


@font-face{
    font-family: goldplayBlack;
    src: url("font/Goldplay/Goldplay-Black.ttf") format("truetype");
}
@font-face{
    font-family: goldplayBlackIT;
    src: url("font/Goldplay/Goldplay-BlackIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplayBold;
    src: url("font/Goldplay/Goldplay-Bold.ttf") format("truetype");
}
@font-face{
    font-family: goldplayBoldIT;
    src: url("font/Goldplay/Goldplay-BoldIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplayLight;
    src: url("font/Goldplay/Goldplay-Light.ttf") format("truetype");
}
@font-face{
    font-family: goldplayLightIT;
    src: url("font/Goldplay/Goldplay-LightIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplayMedium;
    src: url("font/Goldplay/Goldplay-Medium.ttf") format("truetype");
}
@font-face{
    font-family: goldplayMediumIT;
    src: url("font/Goldplay/Goldplay-MediumIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplayRegular;
    src: url("font/Goldplay/Goldplay-Regular.ttf") format("truetype");
}
@font-face{
    font-family: goldplayRegularIT;
    src: url("font/Goldplay/Goldplay-RegularIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplaySemibold;
    src: url("font/Goldplay/Goldplay-SemiBold.ttf") format("truetype");
}
@font-face{
    font-family: goldplaySemiboldIT;
    src: url("font/Goldplay/Goldplay-SemiBoldIt.ttf") format("truetype");
}
@font-face{
    font-family: goldplayThin;
    src: url("font/Goldplay/Goldplay-Thin.ttf") format("truetype");
}
@font-face{
    font-family: goldplayThinIT;
    src: url("font/Goldplay/Goldplay-ThinIt.ttf") format("truetype");
}



h1{
    font-family: "goldplayBlack";
    font-size: 100px;
    text-align: center;
    margin-bottom: 15px;
}
h2{
    font-family: "goldplayBold";
    font-size: 200px;
    text-align: center;
}
h3{
    font-family: "goldplayLight";
    font-size: 200px;
    text-align: center;
}
h4{
    font-family: "goldplayMedium";
    font-size: 200px;
    text-align: center;
}
h5, label{
    font-family: "goldplaySemibold";
    font-size: 200px;
    text-align: left;
    margin-right: 230px;
}
h6 {
    font-family: "goldplayThin";
    font-size: 200px;
    text-align: center;
}

/*




    ******************************************************************************
    STILE E PROGRAMMAZIONE DEL BOTTONE. Per qualsiasi problema chiedete a Filippo
    ******************************************************************************





*/
button, input[type=submit] {
    /* Da qui modificare la grandezza del bottone */
    height: 175px;
    width: 500px;
    scale: 0.42;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    /*border: 2px solid #252525;*/
    border:none;
    background-color:#d1d1d1;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-top: -15px;
  }
  
  btn-txt, input[type="submit"] {
    /* Impostare il font */
    font-family: "goldplayBold";
    font-size:  70px;
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
button::after, input[type=submit]::after{
    content: '[after]';
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
button:hover, input[type=submit]:hover {
    box-shadow: 1px 1px 200px #252525;
    background-color: #333;
    color: #fff;
    border: none;
}
  
 .type1:hover::after, input[type=submit]:hover::after {
    content: '[after]';
    visibility: visible;
    transform: scale(100) translateX(2px);
}
  /*




    *********************************************************************************
    STILE E PROGRAMMAZIONE DELLA TEXT BOX. Per qualsiasi problema chiedete a Filippo
    *********************************************************************************





*/
input[type="text"], input[type="password"] {
    font-family: "goldplayMedium";
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    /*max-width: 190px;*/
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: black;
  }

  .errore{
    color: #800001;
    font-family: "goldplayBold";
    font-size: 20px;
    text-align: center;
  }